.nextHours {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  align-items: center;
}

.nextHours .one {
  width: 24%;
  height: 70%;
  border-right: 1px solid grey;
  text-align: center;
}

.nextHours .two {
  width: 24%;
  height: 70%;
  border-right: 1px solid grey;
  text-align: center;
}

.nextHours .three {
  width: 24%;
  height: 70%;
  border-right: 1px solid grey;
  text-align: center;
}

.nextHours .four {
  width: 24%;
  height: 70%;
  border-right: 1px solid grey;
  text-align: center;
}

.nextHours .five {
  width: 24%;
  height: 70%;

  text-align: center;
}

.nextHours img {
  position: relative;
  width: 35%;
  height: 35%;
}

.nextHours span {
  display: block;
  line-height: 45px;
  font-size: 3vh;
}

@media (max-width: 1025px) {
  .nextHours {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    align-items: center;
  }

  .nextHours span {
    display: block;
    line-height: 35px;
    font-size: 2.5vw;
    padding: 8px;
  }
}

@media (max-width: 1025px) and (orientation: landscape) {
  .nextHours {
    display: none;
  }
}
