.weekDays {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .weekDays .monday {
    width: 20%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
    line-height: 175px;
  }
  
  .weekDays .tuesday {
    width: 20%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
    line-height: 175px;
  }
  
  .weekDays .wednesday {
    width: 20%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
    line-height: 175px;
  }
  
  .weekDays .thursday {
    width: 20%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
    line-height: 175px;
  }
  
  
  .weekDays .friday {
    width: 20%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
    line-height: 175px;
  }
  
  .weekDays img {
    position: relative;
    left: -20%;

  }