.weekDays {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    align-items: center;
  }
  
  .weekDays .one {
    width: 24%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
  }
  
  .weekDays .two {
    width: 24%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
  }
  
  .weekDays .three {
    width: 24%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
  }
  
  .weekDays .four {
    width: 24%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
  }
  
  
  .weekDays .five {
    width: 24%;
    height: 70%;
    border-right: 1px solid grey;
    text-align: center;
  }
  
 .weekDays img {
   position: relative;
   width: 35%;
   height: 35%;
 }

 .weekDays span {
  display: block;
  line-height: 45px;
    font-size: 3vh;
 }

