input.unActive {
  display: flex;
  position: absolute;
  top: 35%;
  width: 50%;
  justify-self: center;
  align-self: center;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  border-radius: 16px 16px 16px 16px;
}

input.Active {
  display: flex;
  position: absolute;
  top: 0;
  width: 40%;
  height: 6%;
  justify-self: center;
  align-self: center;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  border-radius: 0 0 16px 16px;
  transition: all 1s ease, all 1s ease;
}

input.Active:focus {
  width: 45%;
  height: 8%;
}

input:focus {
  background-color: rgba(255, 255, 255, 1);
}

p {
  line-height: 35px;
}

@media (max-width: 641px) {
  input.unActive {
    display: flex;
    position: absolute;
    top: 35%;
    width: 80%;
    justify-self: center;
    align-self: center;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 28px;
    border-radius: 16px 16px 16px 16px;
  }

  input.Active {
    display: flex;
    position: absolute;
    top: 5%;
    width: 80%;
    height: 6%;
    justify-self: center;
    align-self: center;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 28px;
    border-radius: 16px 16px 16px 16px;
    transition: all 1s ease, all 1s ease;
  }

  input.Active:focus {
    width: 85%;
    height: 6%;
  }

  input:focus {
    background-color: rgba(255, 255, 255, 1);
  }
}

@keyframes move {
  0% {
    top: 35%;
  }

  50% {
    top: 15%;
  }

  100% {
    top: 0%;
  }
}
