input.unActive {
  display: flex;
  position: absolute;
  top: 35%;
  width: 50%;
  justify-self: center;
  align-self: center;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  border-radius: 16px 16px 16px 16px;
  
}

input.Active {
  display: flex;
  position: absolute;
  top: 0;
  width: 50%;
  justify-self: center;
  align-self: center;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  border-radius: 0 0 16px 16px;
  transition: all 1s ease,
  scaleInput 2s ease;  
}
  input:focus {
    background-color: rgba(255, 255, 255, 1);
  }

  p {
    line-height: 35px;
  }

  @keyframes scaleInput {
    0% {
      transform: scale(1);
    }

    25% {
      
      transform: scale(0.6)
    }

    50% {
      transform: scale(0.3);
    }

    75% {
      transform:scale(0.6)
    }

    100% {
      transform: scale(1);
      

    }
  }

  @keyframes move {
    0% {
      top: 35%;
    }

    50% {
      top: 15%;
    }

    100% {
      top: 0%;
    }
  }