* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url(../images/2850815.jpg);
  background-size: cover;
  background-position: bottom;
}

.activeApp {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.activeHeader {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 80px;
  flex-wrap: nowrap;
}

h1.active {
  position: absolute;
  margin: 15px;
  top: 2%;
  left: 5%;
  font-size: 32px;
  transform: translate(-50%, 0);
  color: rgba(255, 255, 255, 0.4);
}

.activeMain {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  animation: show 2.5s ease;
  animation-iteration-count: 1;
  opacity: 1;
}

.unActiveApp {
  display: flex;
  background: url(../images/2850815.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.unActiveHeader {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 80px;
  flex-wrap: nowrap;
}

h1.unActive {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 60px;
  color: rgba(255, 255, 255, 0.5);
}

.unActiveMain {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    font-size: 60px;
  }

  50% {
    font-size: 32px;
  }

  100% {
    font-size: 0px;
  }
}

@keyframes uph1 {
  0% {
    top: 20%;
  }

  50% {
    top: 15%;
  }

  100% {
    top: 10%;
  }

}

/* kurwa */