.locationTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    height: 30%;
  }
  
.locationTemp>span {
    position: relative;
    text-align: center;
    font-size: 36px;
    line-height: 60px; 
  }
  
