.locationDate {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 30%;
  height: 30%;
}

.locationDate > span:nth-child(1) {
  position: absolute;
  text-align: center;
  font-size: 28px;
  line-height: 60px;
  top: 45%;
  left: 10%;
}

.locationDate > span:nth-child(2) {
  position: absolute;
  text-align: center;
  font-size: 28px;
  line-height: 60px;
  top: 50%;
  left: 7%;
}

.locationDate > span:nth-child(3) {
  position: absolute;
  text-align: right;
  font-size: 120px;
  line-height: 6 0px;
  top: 25%;
  left: 25%;
}

img {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 5%;
  left: -6%;
}
